{% extends 'yourwords/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<div class="w3-container">

<div class="w3-row">
	<div class="w3-rest">
		<h2>{% trans 'Zmień hasło' %}</h2>
	</div>
</div>


<form method="POST" action="{% url 'authentication:password_change' %}">
{% csrf_token %}
<label for="id_old_password" class="w3-label w3-text-blue">{% trans 'Stare hasło' %}</label>
{% if form.old_password.errors %}
  {% for error in form.old_password.errors %}
    <span class="w3-small w3-text-red errors" style="">{{ error|escape }} </span>
  {% endfor %}
{% endif %}
<input autofocus="" id="id_old_password" name="old_password" type="password" class="w3-input w3-border" placeholder="{% trans 'pole wymagane' %}" required>

<label for="id_new_password1" class="w3-label w3-text-blue">{% trans 'Nowe hasło' %}</label>
{% if form.new_password1.errors %}
  {% for error in form.new_password1.errors %}
    <span class="w3-small w3-text-red errors" style="">{{ error|escape }} </span>
  {% endfor %}
{% endif %}
<input id="id_new_password1" name="new_password1" type="password" class="w3-input w3-border" placeholder="{% trans 'pole wymagane' %}" required>
    
<label for="id_new_password2" class="w3-label w3-text-blue">{% trans 'Nowe hasło - potwierdź' %}</label>
{% if form.new_password2.errors %}
  {% for error in form.new_password2.errors %}
    <span class="w3-small w3-text-red errors" style="">{{ error|escape }} </span>
  {% endfor %}
{% endif %}
<input id="id_new_password2" name="new_password2" type="password" class="w3-input w3-border" placeholder="{% trans 'pole wymagane' %}" required>
    
<button type="submit" class="w3-btn w3-medium w3-blue w3-hover-white">{% trans 'Zmień' %}</button>
<button type="reset" class="w3-btn w3-medium w3-light-grey w3-hover-white" id="reset-btn">{% trans 'Wyczyść' %}</button>
</form> 


</div>

{% endblock %} 