
{% extends 'yourwords/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<div class="w3-container">

<div class="w3-row">
	<div class="w3-rest">
		<h2>{% trans 'Zresetuj hasło' %}</h2>
	</div>
</div>

<div class="w3-row">
	<div class="w3-rest">
		<form method="POST" action="{% url 'authentication:password_reset' %" id="password_reset">
		{% csrf_token %}

			<label for="id_email" class="w3-label w3-text-blue">{% trans 'Adres e-mail' %}</label>
			{% if form.email.errors %}
        		{% for error in form.email.errors %}
          			<span class="w3-small w3-text-red errors" style="">{{ error|escape }} </span>
        		{% endfor %}
      		{% endif %}
			<input id="id_email" maxlength="254" name="email" type="email" class="w3-input w3-border" placeholder="{% trans 'pole wymagane' %}" required>

			<button type="submit" class="w3-btn w3-medium w3-blue w3-hover-white">{% trans 'Wyślij' %}</button>
			<button type="reset" class="w3-btn w3-medium w3-light-grey w3-hover-white" id="reset-btn">{% trans 'Wyczyść' %}</button>
		</form>
	</div>
</div>




</div>

{% endblock %} 
