{% load i18n %}
{% autoescape off %}
{% trans 'Otrzymujesz tę wiadomość, gdyż skorzystano z opcji resetu hasła dla Twojego konta na stronie' %} {{ domain }}.

{% trans 'Aby wprowadzić nowe hasło, przejdź na stronę, której adres widnieje poniżej' %}:

{{ protocol }}://{{ domain }}{% url 'authentication:password_reset_confirm' uidb64=uid token=token %}

{% trans 'Twoja nazwa użytkownika' %}: {{ user.get_username }}.

{% trans 'Dziękujemy za skorzystanie z naszej strony' %}.
{% trans 'Zespół' %} {{ domain }}

{% endautoescape %} 
