
{% extends 'yourwords/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
  {% if validlink %}

<div class="w3-container">


    <div class="w3-row">
      <div class="w3-rest">
        <h2>{% trans 'Zmień hasło' %}</h2>
      </div>
    </div>

    <form method="POST" action="{% url 'authentication:password_change' %}">
      {% csrf_token %}

      <label for="id_new_password1" class="w3-label w3-text-blue">{% trans 'Nowe hasło' %}</label>
      {% if form.new_password1.errors %}
        {% for error in form.new_password1.errors %}
          <span class="w3-small w3-text-red errors" style="">{{ error|escape }} </span>
        {% endfor %}
      {% endif %}
      <input id="id_new_password1" name="new_password1" type="password" class="w3-input w3-border" placeholder="{% trans 'pole wymagane' %}" required>
      
      <label for="id_new_password2" class="w3-label w3-text-blue">{% trans 'Nowe hasło - potwierdź' %}</label>
      {% if form.new_password2.errors %}
        {% for error in form.new_password2.errors %}
          <span class="w3-small w3-text-red errors" style="">{{ error|escape }} </span>
        {% endfor %}
      {% endif %}
      <input id="id_new_password2" name="new_password2" type="password" class="w3-input w3-border" placeholder="{% trans 'pole wymagane' %}" required>

      <button type="submit" class="w3-btn w3-medium w3-blue w3-hover-white">{% trans 'Zmień' %}</button>
      <button type="reset" class="w3-btn w3-medium w3-light-grey w3-hover-white" id="reset-btn">{% trans 'Wyczyść' %}</button>
    </form>
</div>
  {% else %}
  
    <p>
      {% trans 'Link resetowania hasła jest nieprawidłowy, prawdopodobnie dlatego, że został już wcześniej użyty. Proszę wypełnij formularz resetowania hasła jeszcze raz.' %}
    </p>
  
  <div class="w3-row message_frame"  style="position:absolute;top:0;left:0;right:0;">
  <div class="w3-rest w3-card-2 warning">
    <div class="message w3-left">
      {% trans 'Podany link był nieprawidłowy. Wypełnij formularz resetowania hasła jeszcze raz.' %}
    </div>
    <div class="w3-right message-close">
    <i class="material-icons">close</i>
    </div>
  </div>
</div>

<div class="w3-container">
</div>
  {% endif %}
{% endblock %} 
