{% load i18n %}
<script>

$(function() {
    $('form').click(function(e) {
        e.stopPropagation();
    });

	$('#option_settings_form input[type=checkbox]').addClass('w3-check')

  	$('#option_settings_form').submit(function(event) {
  		event.preventDefault()
  		var data = {}
  		$('#option_settings_form input[type=checkbox]').each(function() {
  			data[this.name] = this.checked
  		});
  		$.ajax({
  			url: '{% url "accounts:option_settings" %}',
  			type: 'POST',
  			dataType: 'json',
  			data: data
  		}).done(function(data) {
  			hideModalFancybox()
  			showModal('{% trans "Ustawienia zostały zapisane." %}')
  		}).fail(function() {
  			hideModalFancybox()
  			showModal('{% trans "Wystąpił błąd. Ustawienia nie zostały zapisane." %}', {type: 'error'})
  		});
  	});

	excludeOption('id_only_full_words_searching', 'id_extended_searching');
    
    var labelOnlyFullWordsSearching = $('[for=id_only_full_words_searching]');
    var labelExtendedSearching = $('[for=id_extended_searching]');
    labelOnlyFullWordsSearching.append('<span class="i">{% trans "Aktywacja tej opcji wyłącza jednocześnie opcję wyszukiwania poprzez rozszerzony algorytm wyszukiwania." %}</span>');
    labelExtendedSearching.append('<span class="i">{% trans "Aktywacja tej opcji wyłącza jednocześnie opcję wyszukiwania tylko całych słówek." %}</span>');
    labelOnlyFullWordsSearching.attr('title', '{% trans "Wyszukuj tylko całe słówka." %}');
    labelExtendedSearching.attr('title', '{% trans "Wyszukuj wystąpienia wszystkich fraz wprowadzonych w pole wyszukiwania." %}');
});
</script>

{% if user.is_authenticated and not user.profile.is_socialuser %}

	<form action="{% url 'accounts:option_settings' %}" method="POST" id="option_settings_form">
	{% csrf_token %}
	<table class="w3-table w3-bordered w3-text-teal">
		{% for field in form %}
		<tr>
		<td>
			<label for="{{ field.id_for_label }}">{{ field.label }}</label>
		</td>
		<td>
			{{ field }}
		</td>
		</tr>
		{% endfor %}
	</table>
	<br>
		<input type="submit" value="{% trans 'Zapisz' %}" class="w3-btn w3-teal">
	</form>


{% endif %}