{% load i18n %}

{% if records_data %}
<script>
$(function () {
    var init = {
        recordsDataOriginal: {{ records_data|safe }},
        recordsList: {},
        readPolish: $('#read_polish'),
        readEnglish: $('#read_english'),
        answerPolish: $('#answer_polish'),
        answerEnglish: $('#answer_english'),
        textField: $('#text'),
        sentenceField: $('#sentence'),
        continueButton: $('#continue'),
        sadIcon: $('#sad_icon'),
        happyIcon: $('#happy_icon'),
        showButton: $('#show_answer'),
        ratingButton: $('.rating'),
        language: null,
        randomRecord: null,
        reversedLanguage: null,
        points: null,
        negativePoints: null,
        fadeTime: 500,
        modalRating: $('.modal-rating'),
        radioButton: $('#rating-form input[type="radio"]'),
        submitButton: $('#submit-rating-btn-ang'),
        ratingForm: $('#rating-form'),
        fieldPolishPolish: $(".field_polish_polish"),
        fieldPolishEnglish: $(".field_polish_english"),
        fieldEnglishPolish: $(".field_english_polish"),
        fieldEnglishEnglish: $(".field_english_english"),
        fieldSentencePolish: $(".field_sentence_polish"),
        fieldSentenceEnglish: $(".field_sentence_english"),
        randEnglish: $(".rand_english"),
        randPolish: $(".rand_polish"),
        cleanForm: function () {
            this.ratingForm.trigger('reset');
            this.submitButton.css({ 'visibility': 'hidden' });
            this.modalRating.hide();
        },
        getDataFromDatabase: function (fieldToShow) {
            this.randomRecord = this.getRandomRecord();
            this.clean();
            var polish = this.randomRecord.polish;
            var english = this.randomRecord.english;
            var sentence = this.randomRecord.sentence;
            var rating = this.randomRecord.rating;
            this.fieldPolishPolish.text(polish);
            this.fieldPolishEnglish.text(polish);
            this.fieldEnglishPolish.text(english);
            this.fieldEnglishEnglish.text(english);
            this.fieldSentencePolish.text(sentence);
            this.fieldSentenceEnglish.text(sentence);
            this.ratingButton.fadeIn().css('cursor', 'pointer');
            fieldToShow.fadeIn().css('cursor', 'pointer');
        },
        initialize: function () {
            var recordsData = $.extend(true, {}, this.recordsDataOriginal);
            this.recordsList = recordsData.record_list;
            this.points = 0;
            this.negativePoints = 0;
            this.newIteration();
        },
        getRandomRecord: function () {
            var randomRecordId = Math.floor(Math.random() * this.recordsList.length);
            this.recordsList[randomRecordId].randomRecordId = randomRecordId;
            return this.recordsList[randomRecordId];
        },
        clean: function () {
            this.fieldPolishPolish.hide().text('');
            this.fieldEnglishPolish.hide().text('');
            this.fieldEnglishEnglish.hide().text('');
            this.fieldPolishEnglish.hide().text('');
            this.fieldSentencePolish.hide().text('');
            this.fieldSentenceEnglish.hide().text('');
            this.ratingButton.hide();
        },
        showAnswer: function () {
            this.textField.hide();
            $('#answer_' + this.reversedLanguage).html(this.randomRecord[this.reversedLanguage]).fadeIn(this.fadeTime);
            if (this.randomRecord.sentence.length) {
                this.sentenceField.html(this.randomRecord.sentence).fadeIn(this.fadeTime);
            }
        },
        newIteration: function () {
            this.cleanFields();
            this.language = this.languageToDisplay();
            this.randomRecord = this.getRandomRecord();
            if (this.language == 'polish') {
                this.readPolish.html(this.randomRecord.polish).fadeIn(this.fadeTime);
                this.reversedLanguage = 'english';
                this.answerEnglish.html(this.randomRecord.english);
            } else if (this.language == 'english') {
                this.readEnglish.html(this.randomRecord.english).fadeIn(this.fadeTime);
                this.reversedLanguage = 'polish';
                this.answerPolish.html(this.randomRecord.polish);
            }
            this.textField.fadeIn(this.fadeTime).focus();
        },
        cleanAnswers: function () {
            this.answerPolish.html('').hide();
            this.answerEnglish.html('').hide();
            this.sentenceField.html('').hide();
            this.showButton.hide();
            this.continueButton.hide();
            this.sadIcon.hide();
            this.happyIcon.hide();
        },
        cleanFields: function () {
            this.continueButton.hide();
            this.readPolish.html('').hide();
            this.readEnglish.html('').hide();
            this.answerPolish.html('').hide();
            this.answerEnglish.html('').hide();
            this.sentenceField.html('').hide();
            this.textField.val('').hide();
            this.showButton.hide();
            this.sadIcon.hide();
            this.happyIcon.hide();
            this.ratingButton.hide();
        },
        languageToDisplay: function () {
            var languages = ['polish', 'english'];
            var randomLanguageId = Math.floor(Math.random() * 2);
            return languages[randomLanguageId];
        },
        prepareWordsArray: function (a) {
            var additionalArray = [];
            var endOfVerbRegex1 = /(ić)$/i;
            var endOfVerbRegex2 = /(ać)$/i;
            for (var i = 0; i < a.length; i++) {
                a[i] = this.removeRedundantSigns(a[i]);
                if (endOfVerbRegex1.test(a[i])) {
                    additionalArray.push(a[i].replace(endOfVerbRegex1, 'iać'));
                }
                if (endOfVerbRegex2.test(a[i])) {
                    additionalArray.push(a[i].replace(endOfVerbRegex2, 'ić'));
                }
            }
            return a.concat(additionalArray);
        },
        removeRedundantSigns: function (s) {
            return s.replace(/[,.;:?!\(\)]/ig, '');
        },
        getPercentsFromPoints: function (positives, negatives) {
            var r = {}
            var all = positives + negatives;
            var onePart = 100 / all;
            r.positivesPercents = Math.round(positives * onePart);
            r.negativesPercents = Math.round(negatives * onePart);
            return r;
        },
        addNegativePoint: function () {
            this.negativePoints += 1;
        },
        addPoint: function () {
            this.points += 1;
        }
    }

    init.textField.keypress(function (e) {
        if (e.which === 13) {
            $(this).blur();
            init.cleanAnswers();
            init.ratingButton.fadeIn(init.fadeTime);
            var promptedText = init.textField.val().trim().toLowerCase();
            var promptedTextWordsLength = promptedText.split(' ').length;
            var answerValue = init.randomRecord[init.reversedLanguage].toLowerCase();
            var answerValueArray = init.prepareWordsArray(answerValue.split(' '));
            if (answerValueArray.includes(promptedText) || (answerValue.indexOf(promptedText) !== -1 && promptedTextWordsLength > 1)) {
                init.addPoint();
                init.recordsList.splice(init.randomRecord.randomRecordId, 1);
                init.happyIcon.fadeIn(init.fadeTime);
                init.showAnswer();
                init.continueButton.fadeIn(init.fadeTime);
            } else {
                init.addNegativePoint();
                init.sadIcon.fadeIn(init.fadeTime);
                if (promptedText.length) {
                    init.showButton.fadeIn(init.fadeTime);
                } else {
                    init.showAnswer();
                }
                init.continueButton.fadeIn(init.fadeTime);
            }
        }
    });

    init.showButton.click(function () {
        $(this).hide();
        init.textField.hide();
        $('#answer_' + init.reversedLanguage).html(init.randomRecord[init.reversedLanguage]).fadeIn(init.fadeTime);
        if (init.randomRecord.sentence.length) {
            init.sentenceField.html(init.randomRecord.sentence).fadeIn(init.fadeTime);
        }
        init.continueButton.fadeIn(init.fadeTime);
    });

    init.continueButton.click(function () {
        init.cleanFields();
        if (init.recordsList.length) {
            init.newIteration();
        } else {
            var percentsFromPoints = init.getPercentsFromPoints(init.points, init.negativePoints);
            var textToModal = '{% trans "Gratulacje, ukończyłeś powtórkę! Poprawnych odpowiedzi" %}: ' + percentsFromPoints.positivesPercents + '%. {% trans "Błędnych" %}: ' + percentsFromPoints.negativesPercents + '%.';
            showModal(textToModal, { confirm: init.initialize });
        }
    });
    init.initialize();

    {% if user.is_authenticated %}
    
    init.ratingForm.submit(function (e) {
        e.preventDefault();
        var id = parseInt(init.randomRecord.id, 10);
        var rating = $('input[name="rating"]:checked').val();
        $.ajax({
            type: 'post',
            url: '{% url "yourwords:ajax_edit_rating" %}',
            dataType: 'json',
            data: {
                id: id,
                rating: rating
            }
        }).done(function (data) {
            if (data.success == 1) {
                init.cleanForm();
                init.randomRecord.rating = rating;
            }
        }).fail(function () {
            init.cleanForm();
            showModal('{% trans "Wystąpił błąd. Ustawienie nie zostało zapisane." %}', { type: 'error' });
        });
    });
    init.ratingButton.click(function () {
        $('#rating' + init.randomRecord.rating).prop('checked', true);
        init.modalRating.show();
        init.radioButton.click(function () {
            init.submitButton.css({ 'visibility': 'visible' });
        });
    });
    {% endif %}

    init.randPolish.on('click', function () {
        init.getDataFromDatabase(init.fieldPolishPolish);
    });
    init.fieldPolishPolish.on('click', function () {
        $(this).css('cursor', 'default');
        init.fieldEnglishPolish.fadeIn().css('cursor', 'pointer')
    });
    init.fieldEnglishPolish.on('click', function () {
        $(this).css('cursor', 'default')
        if (init.fieldSentencePolish.text() == '') {
            init.getDataFromDatabase(init.fieldPolishPolish);
        }
        else {
            init.fieldSentencePolish.fadeIn().css('cursor', 'pointer')
        }
    });
    init.fieldSentencePolish.on('click', function () {
        init.getDataFromDatabase(init.fieldPolishPolish);
    });

    init.randEnglish.on('click', function () {
        init.getDataFromDatabase(init.fieldEnglishEnglish);
    });
    init.fieldEnglishEnglish.on('click', function () {
        $(this).css('cursor', 'default');
        init.fieldPolishEnglish.fadeIn().css('cursor', 'pointer');
    });
    init.fieldPolishEnglish.on('click', function () {
        $(this).css('cursor', 'default')
        if (init.fieldSentenceEnglish.text() == '') {
            init.getDataFromDatabase(init.fieldEnglishEnglish);
        }
        else {
            init.fieldSentenceEnglish.fadeIn().css('cursor', 'pointer')
        }
    });
    init.fieldSentenceEnglish.on('click', function () {
        init.getDataFromDatabase(init.fieldEnglishEnglish);
    });
});

</script>
{% endif %}