{% load i18n %}

<script>
	$(document).ready(function () {

		$('.repeat-check-btn').width($('.read_sentence').width());
		$('.end-gap').height($('footer.base').height() + 50);

		if (!Cookies.get('cookies_information')) {
			$('.cookies_information').css('display', 'block')
		}

		$('input[name="repeat-checked"]').click(function () {
			if ($('.repeat-check').is(':checked')) {
				$('.repeat-check-btn').show()
			}
			else {
				$('.repeat-check-btn').hide()
			}
		})



		createRandomColouredList(['red', 'green', 'blue', 'teal', 'orange', 'purple'], 'pagination', true)





		$('.modal-rating').find('header, .modal-close').click(function () {
			$('.modal-rating .modal-content').html('')
			$('.modal-rating').hide()
		});

		$(document).on('click', function (e) {
			e.stopPropagation();
			$('.message_frame').fadeOut(500);
		});

		$('.menu1-btn').on('click', function () {
			$('.menu2, .menu3, .menusearch').hide()
			$('.menu1').fadeToggle(100)
		})
		$('.menu2-btn').on('click', function () {
			$('.menu1, .menu3, .menusearch').hide()
			$('.menu2').fadeToggle(100)
		})
		$('.menu3-btn').on('click', function () {
			$('.menu1, .menu2, .menusearch').hide()
			$('.menu3').fadeToggle(100)
		})
		$('.menusearch-btn').on('click', function () {
			$('.menu1, .menu2, .menu3').hide()
			$('.menusearch').fadeToggle(100)
			$('input[name="searched_text"]').focus()
		})


		$(document).click(function (event) {
			if (!$(event.target).closest('.menu-container').length) {
				if ($('.menu-list').is(":visible")) {
					$('.menu-list').fadeOut(100)
				}
			}
		})

		$('#search').on('submit', function () {
			if ($('input[name="searched_text"]').val() == '') {
				showAndHideModal('warning', '{% trans "Nie podano frazy wyszukiwania." %}')
				return false
			}
		})

		$('#submit-btn-delete').on('click', function (e) {
			e.preventDefault()
			function delRecord() {
				$('#delete_record').submit()
			}
			showAndHideModalConfirm('{% trans "Czy na pewno chcesz usunąć wybrany rekord?" %}', delRecord, 'danger')
		})

		$('#listing_choice').click(function (e) {
			e.preventDefault()
			showAndHideModalFancybox('{% trans "Powtórz słówka z wybranej listy" %}', '/yourwords/listings/')
		})


		$('.modal-rating-close, .modal-rating-header').click(function () {
			$('#rating-form').trigger('reset')
			$('#submit-rating-btn-ang').css({ 'visibility': 'hidden' })
		})



		$('button[type="reset"], input[type="reset"]').click(function () {
			$('input[type="text"], input[type="email"], input[type="password"], textarea').val('').removeClass('w3-border-red')
			$('.errors').hide()
		});
		$('input[type="text"], input[type="email"], input[type="password"], textarea').focus(function () {
			$(this).removeClass('w3-border-red')
		})


		$('#main_repeat_form').submit(function () {
			if (!$('input[name="main_repeat_manually"]').is(':disabled')) {
				var regex_number = /^[\d]+$/
				var val_number = $('input[name="main_repeat_manually"]').val().trim()

				if (!regex_number.test(val_number) || val_number < 1 || val_number > 99999) {
					showAndHideModal('warning', '{% trans "Wprowadzona wartość musi być liczbą w zakresie" %} 1-99999.')
					return false
				}
			}
		})


		$('#main_repeat_form input[type="radio"]').click(function () {
			if ($('input[value="manually"]').is(':checked')) {
				$('#main_repeat_form input[name="main_repeat_manually"]').prop('disabled', false).focus()
			}
			else {
				$('#main_repeat_form input[name="main_repeat_manually"]').prop('disabled', true)
				$('#main_repeat_form input[name="main_repeat_manually"]').val('')
			}
		})

		$('.disabled').click(function (e) {
			e.preventDefault()
		})

		$('#option_settings').click(function (e) {
			e.preventDefault()
			showAndHideModalFancybox('{% trans "Wprowadź ustawienia użytkownika" %}', '/accounts/settings/')
		})

		$('#change_language').click(function (e) {
			e.preventDefault()
			showAndHideModalFancybox('{% trans "Wybierz język interfejsu" %}', '/accounts/language/')
		})

		clickExpandMenuButton('admin_menu_section_button', 'admin_menu_section_item')
		clickExpandMenuButton('app_settings_menu_section_button', 'app_settings_menu_section_item')


		$('.cookies_information i').click(function () {
			$('.cookies_information').hide()
			var dateObject = new Date(9999, 12, 31)
			Cookies.set('cookies_information', 1, { expires: dateObject });
		})





































































	});

</script>