{% extends 'yourwords/base.html' %}
{% load staticfiles %}

{% block content %}

<section class="w3-container w3-padding w3-medium cookies">

<h3>Polityka Cookie</h3>
<hr class="w3-border-grey">

<p>Poniższa Polityka Cookie określa zasady zapisywania i uzyskiwania dostępu do danych na Urządzeniach Użytkowników korzystających z Serwisu do celów świadczenia usług drogą elektroniczną przez Administratora Serwisu.</p>

<h3>§ 1 Definicje</h3>

	<p><strong>Serwis</strong> - serwis internetowy działający pod adresem <span><a href="https://twojeslowka.online/">https://twojeslowka.online/</a></span></p>
    <p><strong>Serwis zewnętrzny</strong> - serwis internetowy partnerów, usługodawców lub usługobiorców Administratora</p>
    <p><strong>Administrator</strong> - zespół tworzący serwis <span>Twoje Słówka Online</p>
    <p><strong>Użytkownik</strong> - osba fizyczna, dla której Administrator świadczy usługi drogą elektroniczną za pośrednictwem Serwisu</p>
    <p><strong>Urządzenie</strong> - elektroniczne urządzenie wraz z oprogramowaniem, za pośrednictwem którego Użytkownik uzyskuje dostęp do Serwisu</p>
    <p><strong>Cookies (ciasteczka)</strong> - dane tekstowe gromadzone w formie plików zamieszczanych na Urządzeniu Użytkownika</p>

<h3>§ 2 Rodzaje Cookies</h3>

	<p><strong>Cookies wewnętrzne</strong> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przes system teleinformatyczny Serwisu</p>
    <p><strong>Cookies zewnętrzne</strong> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez systemy teleinformatyczne Serwisów zewnętrznych</p>
    <p><strong>Cookies sesyjne</strong> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez Serwis <span>lub Serwisy zewnętrzne</span> podczas jednej sesji danego Urządzenia. Po zakończeniu sesji pliki są usuwane z Urządzenia Użytkownika.</p>
    <p><strong>Cookies trwałe</strong> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez Serwis <span>lub Serwisy zewnętrzne</span> do momentu ich ręcznego usunięcia. Pliki nie są usuwane automatycznie po zakończeniu sesji Urządzenia, chyba że konfiguracja Urządzenia Użytkownika jest ustawiona na tryb usuwanie Cookies po zakończeniu sesji Urządzenia.</p>


<h3>§ 3 Bezpieczeństwo</h3>

	<p><strong>Mechanizmy składowania i odczytu</strong> - Mechanizmy składowania i odczytu Cookies nie pozwalają na pobierania jakichkolwiek danych osobowych ani żadnych informacji poufnych z Urządzenia Użytkownika. Przeniesienie na Urządzenie Użytkownika wirusów, koni trojańskich oraz innych robaków jest praktynie niemożliwe.</p>
    <p><strong>Cookie wewnętrzne</strong> - zastosowane przez Administratora Cookie wewnętrzne są bezpieczne dla Urządzeń Użytkowników</p>
    <p><strong>Cookie zewnętrzne</strong> - za bezpieczeństwo Cookies pochodzących od partnerów Serwisu Administrator nie ponosi odpowiedzialności. Lista partnerów zamieszczona jest w dalszej części Polityki Cookie.</p>


<h3>§ 4 Cele, do których wykorzystywane są Cookies</h3>

<p><strong>Usprawnienie i ułatwienie dostępu do Serwisu</strong> - Administrator może przechowywać w Cookies informacje o prefernecjach i ustawieniach użytkownika dotyczących Serwisu, aby usprawnić, polepszyć i przyspieszyć świadczenie usług w ramach Serwisu.</p>
<p><strong>Logowanie</strong> - Administrator wykorzystuje Cookies do celów logowania Użytkowników w Serwisie</p>
<p><strong>Dane statystyczne</strong> - Administrator <span>oraz Serwisy zewnętrzne</span> wykorzystuje Cookies do zbierania i przetwarzania danych statystycznych, takich jak np. statystyki odwiedzin, statystyki Urządzeń Użytkowników czy statystyki zachowań użytkowników. Dane te zbierane są w celu analizy i ulepszania Serwisu.</p><p><strong>Usługi społecznościowe</strong> - Administrator <span>oraz Serwisy zewnętrzne</span> wykorzystują Cookies do wsparcia usług społecznościowych</p>
<h3>§ 5 Serwisy zewnętrzne</h3>
    <p>Administrator współpracuje z następującymi serwisami zewnętrznymi, które mogą zamieszczać Cookies na Urządzeniach Użytkownika:</p>
    <p><strong>Google Analytics</strong></p>
    <p><strong>Facebook</strong></p>
    <p><strong>W3Schools</strong></p>

<h3>§ 6 Możliwości określania warunków przechowywania i uzyskiwania dostępu na Urządzeniach Użytkownika przez Serwis<span> i Serwisy zewnętrzne</span></h3>

    <p>Użytkownik może w dowolnym momencie samodzielnie zmienić ustawienia dotyczące zapisywania, usuwania oraz dostępu do danych zapisanych Cookiess</p>
    <p>Informacje o sposobie wyłączenia Cookies w najpopularniejszych przeglądarkach komputerowych i urządzeń mobilnych dostępna są na stronie: <a href="http://jakwylaczyccookie.pl">http://jakwylaczyccookie.pl</a>.</p>
    <p>Użytkownik może w dowolnym momencie usunąć wszelkie zapisane do tej pory Cookies, korzystając z narzędzi Urządzenia Użytkownika, za pośrednictwem którego Użytkowanik korzysta z usług Serwisu.</p>

<h3>§ 7 Wymagania Serwisu</h3>

	<p>Ograniczenie zapisu i dostępu do Cookies na Urządzeniu Użytkownika może spowodować nieprawidłowe działanie niektórych funkcji Serwisu.</p>
    <p>Administrator nie ponosi żadnej odpowiedzialności za nieprawidłowo działające funkcje Serwisu, w przypadku gdy Użytkownik ograniczy w jakikolwiek sposób możliwość zapisywania i odczytu Cookies.</p>

<h3>§ 8 Zmiany w Polityce Cookie</h3>

	<p>Administrator zastrzega sobie prawo do dowolnej zmiany niniejszej Polityki Cookie bez konieczności informowania o tym użytkowników.</p>
    <p>Wprowadzone zmiany w Polityce Cookie zawsze będą publikowane na tej stronie.</p>
    <p>Wprowadzone zmiany wchodzą w życie w dniu publikacji Polityki Cookie.</p>

</section>

{% endblock content %}