{% extends 'yourwords/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}


	<div class="rand">
		<div class="w3-row">
			<div class="w3-rest">
				<div class="w3-card-2 w3-red w3-center rand_polish" title="{% trans 'Losuj słówko polskie' %}">P</div>
			</div>
		</div>
		<div class="w3-row">
			<div class="w3-rest">
				<div class="w3-card-2 w3-blue w3-center rand_english" title="{% trans 'Losuj słówko języka obcego' %}">F</div>
			</div>
		</div>
	</div>
	<div class="words">
		<div class="w3-row">
			<div class="w3-rest">
				<div class="field_word_id" style="display:none;"></div>
			</div>
		</div>
		<div class="w3-row">
			<div class="w3-rest">
				<div class="w3-card-2 w3-green w3-text-light-grey w3-center field_polish_polish"></div>
			</div>
		</div>
		<div class="w3-row">
			<div class="w3-rest">
				<div class="w3-card-2 w3-orange w3-text-light-grey w3-center field_english_polish"></div>
			</div>
		</div>
		<div class="w3-row">
			<div class="w3-rest">
				<div class="w3-card-2 w3-orange w3-text-light-grey w3-center field_english_english"></div>
			</div>
		</div>
		<div class="w3-row">
			<div class="w3-rest">
				<div class="w3-card-2 w3-green w3-text-light-grey w3-center field_polish_english"></div>
			</div>
		</div>
		<div class="w3-row">
			<div class="w3-rest">
				<div class="w3-card-2 w3-teal w3-text-light-grey w3-center field_sentence_polish"></div>
			</div>
		</div>
		<div class="w3-row">
			<div class="w3-rest">
				<div class="w3-card-2 w3-teal w3-text-light-grey w3-center field_sentence_english"></div>
			</div>
		</div>
	</div>
















{% endblock content %}