{% extends 'yourwords/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<style>
    .padding {
        padding: 20px;
    }
    .answer_icon img {
        width: 80px;
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    #text {
        padding: 17px;
    }
    .button {
        cursor: pointer;
    }
</style>
{% if records_data %}
<script>
    $(function () {
    var recordsDataOriginal = {{ records_data|safe }};
    var recordsList;
    var readPolish = $('#read_polish');
    var readEnglish = $('#read_english');
    var answerPolish = $('#answer_polish');
    var answerEnglish = $('#answer_english');
    var textField = $('#text');
    var sentenceField = $('#sentence');
    var continueButton = $('#continue');
    var sadIcon = $('#sad_icon');
    var happyIcon = $('#happy_icon');
    var showButton = $('#show_answer');
    var language;
    var randomRecord;
    var reversedLanguage;
    var points;
    var negativePoints;
    var fadeTime = 500;

    function addPoint() {
        points += 1;
    }

    function addNegativePoint()
    {
        negativePoints += 1;
    }

    function getPercentsFromPoints(positives, negatives)
    {
        var r = {}
        var all = positives + negatives;
        var onePart = 100 / all;
        r.positivesPercents = Math.round(positives * onePart);
        r.negativesPercents = Math.round(negatives * onePart);
        return r;
    }

    function removeRedundantSigns(s)
    {
        return s.replace(/[,.;:?!\(\)]/ig, '');
    }

    function prepareWordsArray(a)
    {
        var additionalArray = [];
        var endOfVerbRegex1 = /(ić)$/i;
        var endOfVerbRegex2 = /(ać)$/i;
        for (var i = 0; i < a.length; i++) {
            a[i] = removeRedundantSigns(a[i]);
            if (endOfVerbRegex1.test(a[i])) {
                additionalArray.push(a[i].replace(endOfVerbRegex1, 'iać'));
            }
            if (endOfVerbRegex2.test(a[i])) {
                additionalArray.push(a[i].replace(endOfVerbRegex2, 'ić'));
            }
        }
        return a.concat(additionalArray);
    }

    function initialize() {
        var recordsData = $.extend(true, {}, recordsDataOriginal);
        recordsList = recordsData.record_list;
        points = 0;
        negativePoints = 0;
        newIteration();
    }

    function languageToDisplay() {
        var languages = ['polish', 'english'];
        var randomLanguageId = Math.floor(Math.random() * 2);
        return languages[randomLanguageId];
    }

    function getRandomRecord() {
        var randomRecordId = Math.floor(Math.random() * recordsList.length);
        recordsList[randomRecordId].randomRecordId = randomRecordId;
        return recordsList[randomRecordId];
    }

    function cleanFields() {
        continueButton.hide();
        readPolish.html('').hide();
        readEnglish.html('').hide();
        answerPolish.html('').hide();
        answerEnglish.html('').hide();
        sentenceField.html('').hide();
        textField.val('').hide();
        showButton.hide();
        sadIcon.hide();
        happyIcon.hide();
    }

    function cleanAnswers()
    {
        answerPolish.html('').hide();
        answerEnglish.html('').hide();
        sentenceField.html('').hide();
        showButton.hide();
        continueButton.hide();
        sadIcon.hide();
        happyIcon.hide();
    }

    function newIteration() {
        cleanFields();
        language = languageToDisplay();
        randomRecord = getRandomRecord();
        if (language == 'polish') {
            readPolish.html(randomRecord.polish).fadeIn(fadeTime);
            reversedLanguage = 'english';
            answerEnglish.html(randomRecord.english);
        } else if (language == 'english') {
            readEnglish.html(randomRecord.english).fadeIn(fadeTime);
            reversedLanguage = 'polish';
            answerPolish.html(randomRecord.polish);
        }
        textField.fadeIn(fadeTime).focus();
    }

    function showAnswer() {
        textField.hide();
        $('#answer_' + reversedLanguage).html(randomRecord[reversedLanguage]).fadeIn(fadeTime);
        if (randomRecord.sentence.length) {
            sentenceField.html(randomRecord.sentence).fadeIn(fadeTime);
        }
    }

    function reloadPage()
    {
        location.reload();
    }

    textField.keypress(function (e) {
        if (e.which === 13) {
            $(this).blur();
            cleanAnswers();
            var promptedText = textField.val().trim().toLowerCase();
            var promptedTextWordsLength = promptedText.split(' ').length;
            var answerValue = randomRecord[reversedLanguage].toLowerCase();
            var answerValueArray = prepareWordsArray(answerValue.split(' '));
            if (answerValueArray.includes(promptedText) || (answerValue.indexOf(promptedText) !== -1 && promptedTextWordsLength > 1)) {
                addPoint();
                recordsList.splice(randomRecord.randomRecordId, 1);
                happyIcon.fadeIn(fadeTime);
                showAnswer();
                continueButton.fadeIn(fadeTime);
            } else {
                addNegativePoint();
                sadIcon.fadeIn(fadeTime);
                if (promptedText.length) {
                    showButton.fadeIn(fadeTime);
                } else {
                    showAnswer();
                }
                continueButton.fadeIn(fadeTime);
            }
        }
    });

    showButton.click(function() {
        $(this).hide();
        textField.hide();
        $('#answer_' + reversedLanguage).html(randomRecord[reversedLanguage]).fadeIn(fadeTime);
        if (randomRecord.sentence.length) {
            sentenceField.html(randomRecord.sentence).fadeIn(fadeTime);
        }
        continueButton.fadeIn(fadeTime);
    });

    continueButton.click(function () {
        cleanFields();
        if (recordsList.length) {
            newIteration();
        } else {
            var percentsFromPoints = getPercentsFromPoints(points, negativePoints);
            var textToModal = '{% trans "Gratulacje, ukończyłeś powtórkę! Poprawnych odpowiedzi" %}: ' + percentsFromPoints.positivesPercents + '%. {% trans "Błędnych" %}: ' + percentsFromPoints.negativesPercents + '%.';
            showModal(textToModal, {confirm: initialize});
        }
    });
    initialize();
});

</script>
{% endif %}



<div class="w3-row">
    <div class="w3-card-2 w3-center w3-red w3-center w3-block w3-margin-bottom w3-margin-top padding h" id="read_polish"></div>
</div>
<div class="w3-row">
    <div class="w3-card-2 w3-center w3-orange w3-center w3-block w3-margin-bottom w3-margin-top w3-text-light-grey padding h" id="read_english"></div>
</div>
<div class="w3-row">
    <input type="text" id="text" class="w3-input w3-border-0 w3-card-2 w3-center w3-margin-bottom h">
</div>
<div class="w3-row">
    <div id="sad_icon" class="w3-center answer_icon h">
        <img src="{% static 'yourwords/icons/sad_icon.png' %}" alt="{% trans 'Sad' %}">
    </div>
</div>
<div class="w3-row">
    <div id="happy_icon" class="w3-center answer_icon h">
        <img src="{% static 'yourwords/icons/happy_icon.png' %}" alt="{% trans 'Happy' %}">
    </div>
</div>
<div class="w3-row">
    <div id="show_answer" class="w3-indigo w3-hover-white w3-center w3-card-2 w3-block w3-margin-bottom button padding h" title="{% trans 'Pokaż odpowiedź' %}"><i class="material-icons">visibility</i></div>
</div>
<div class="w3-row">
    <div class="w3-card-2 w3-green w3-center w3-block w3-margin-bottom padding h" id="answer_polish"></div>
</div>
<div class="w3-row">
    <div class="w3-card-2 w3-blue w3-center w3-block w3-margin-bottom padding h" id="answer_english"></div>
</div>
<div class="w3-row">
    <div class="w3-card-2 w3-teal w3-center w3-block w3-margin-bottom padding h" id="sentence"></div>
</div>
<div class="w3-row">
    <div id="continue" class="w3-indigo w3-hover-white w3-center w3-card-2 w3-block w3-margin-bottom button padding h" title="{% trans 'Kontynuuj' %}"><i class="material-icons">trending_flat</i></div>
</div>







{% endblock %}