{% extends 'yourwords/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<style>
    .padding {
        padding: 20px;
    }
    .answer_icon img {
        width: 80px;
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    #text {
        padding: 17px;
    }
    .button {
        cursor: pointer;
    }
</style>



<div class="w3-row">
    <div class="w3-card-2 w3-center w3-red w3-center w3-block w3-margin-bottom w3-margin-top padding h" id="read_polish"></div>
</div>
<div class="w3-row">
    <div class="w3-card-2 w3-center w3-orange w3-center w3-block w3-margin-bottom w3-margin-top w3-text-light-grey padding h" id="read_english"></div>
</div>
<div class="w3-row">
    <input type="text" id="text" class="w3-input w3-border-0 w3-card-2 w3-center w3-margin-bottom h">
</div>
<div class="w3-row">
    <div id="sad_icon" class="w3-center answer_icon h">
        <img src="{% static 'yourwords/icons/sad_icon.png' %}" alt="{% trans 'Sad' %}">
    </div>
</div>
<div class="w3-row">
    <div id="happy_icon" class="w3-center answer_icon h">
        <img src="{% static 'yourwords/icons/happy_icon.png' %}" alt="{% trans 'Happy' %}">
    </div>
</div>
<div class="w3-row">
    <div id="show_answer" class="w3-indigo w3-hover-white w3-center w3-card-2 w3-block w3-margin-bottom button padding h" title="{% trans 'Pokaż odpowiedź' %}"><i class="material-icons">visibility</i></div>
</div>
<div class="w3-row">
    <div class="w3-card-2 w3-green w3-center w3-block w3-margin-bottom padding h" id="answer_polish"></div>
</div>
<div class="w3-row">
    <div class="w3-card-2 w3-blue w3-center w3-block w3-margin-bottom padding h" id="answer_english"></div>
</div>
<div class="w3-row">
    <div class="w3-card-2 w3-teal w3-center w3-block w3-margin-bottom padding h" id="sentence"></div>
</div>
<div class="w3-row">
    <div id="continue" class="w3-indigo w3-hover-white w3-center w3-card-2 w3-block w3-margin-bottom button padding h" title="{% trans 'Kontynuuj' %}"><i class="material-icons">trending_flat</i></div>
</div>







{% endblock %}