{% extends 'yourwords/base.html' %}
{% load staticfiles %}

{% block content %}

{% include 'authentication/form.html' %}

<div class="w3-row">
	<div class="w3-rest">
		<p class="w3-small">Nie masz konta i chcesz w pełni korzystać z aplikacji? <span class="w3-text-blue w3-medium"><a href="{% url 'authentication:signup' %}">Zarejestruj się!</a></span></p>
	</div>
</div>

<div class="w3-row">
	<div class="w3-rest">
		<p class="w3-small">Nie pamiętasz hasła? <span class="w3-text-blue w3-medium"><a href="{% url 'authentication:password_reset' %}">Utwórz nowe</a>.</span></p>
	</div>
</div>

{# <div class="w3-row">
	<div class="w3-rest">
		<p class="w3-small"><span class="w3-text-blue w3-medium"><a href="{% url 'social:begin' 'facebook' %}">Zaloguj się za pomocą konta Facebook</a></span></p>
	</div>
</div> #}





{% endblock content %}
